<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Events</h1>
    </div>
  </div>
  <div class="row space-top">
    <div class="card-deck" >
      <div *ngFor="let e of events" class="col-md-4 hoverable">
        <a routerLink="{{e.id}}" class="card">
            <img class="card-img-top" src="{{e.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a>{{e.title}}</a></h5>
            <small class="text-muted">{{e.date | date:'fullDate'}} at {{e.date | date:'mediumTime'}}</small>
            <p><small class="text-muted">{{e.location}}, {{e.town}}</small></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
