<div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card-img-top" class="tab-content">
            <img src="{{eventEditBindingModel.image}}" />
          </div>
        </div>
        <div class="col-md-8 d-flex flex-column">
          <form #f="ngForm" (ngSubmit)="edit()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" id="title" name="title" [(ngModel)]="eventEditBindingModel.title"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="image">Poster</label>
                  <input required type="text" id="image" name="image" [(ngModel)]="eventEditBindingModel.image"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="location">Location</label>
                  <input required type="text" id="location" name="location"
                    [(ngModel)]="eventEditBindingModel.location" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="categoryId">category</label>
                        <input required type="number" id="categoryId" name="categoryId"
                          [(ngModel)]="eventEditBindingModel.categoryId" class="form-control">
                      </div>
                    </div>
                  </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="town">Town</label>
                  <input required type="text" id="town" name="town" [(ngModel)]="eventEditBindingModel.town"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="date">Date</label>
                  <div class="input-group">
                    <input class="form-control" required placeholder="yyyy-mm-dd" name="dp"
                      [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="date">Time</label>
                  <ngb-timepicker required [(ngModel)]="time" name="time"></ngb-timepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea required type="text" id="description" class="form-control" name="description"
                    [(ngModel)]="eventEditBindingModel.description" rows="6"></textarea>
                </div>
              </div>
            </div>
            
            <button class="btn btn-primary" [disabled]="f.invalid" type="submit">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
