<div class="row">
  <div class="col-lg-2 col-sm-6">
    <div class="circle-tile">
      <a [routerLink]='["users"]'>
        <div class="circle-tile-heading dark-blue">
          <i class="fa-fw fa-3x">
            <fa-icon [icon]="faUsers"></fa-icon>
          </i>
        </div>
      </a>
      <div class="circle-tile-content dark-blue">
        <div class="circle-tile-description text-faded">
          Users
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6">
    <div class="circle-tile">
      <a [routerLink]='["tickets"]'>
        <div class="circle-tile-heading green">
          <i class="fa-fw fa-3x">
            <fa-icon [icon]="faTicketAlt"></fa-icon>
          </i>
        </div>
      </a>
      <div class="circle-tile-content green">
        <div class="circle-tile-description text-faded">
          Tickets
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6">
    <div class="circle-tile">
      <a [routerLink]='["events"]'>
        <div class="circle-tile-heading orange">
          <i class="fa-fw fa-3x">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
          </i>
        </div>
      </a>
      <div class="circle-tile-content orange">
        <div class="circle-tile-description text-faded">
          Events
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6">
    <div class="circle-tile">
      <a [routerLink]='["categories"]'>
        <div class="circle-tile-heading blue">
          <i class="fa-fw fa-3x">
            <fa-icon [icon]="faTags"></fa-icon>
          </i>
        </div>
      </a>
      <div class="circle-tile-content blue">
        <div class="circle-tile-description text-faded">
          Categories
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6">
    <div class="circle-tile">
      <a [routerLink]='["orders"]'>
        <div class="circle-tile-heading red">
          <i class="fa-fw fa-3x">
              <fa-icon [icon]="faCreditCard"></fa-icon>
          </i>
        </div>
      </a>
      <div class="circle-tile-content red">
        <div class="circle-tile-description text-faded">
          Orders
        </div>
    </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6">
    <div class="circle-tile">
      <a [routerLink]='["ads"]'>
        <div class="circle-tile-heading purple">
          <i class="fa-fw fa-3x">
              <fa-icon [icon]="faAd"></fa-icon>
          </i>
        </div>
      </a>
      <div class="circle-tile-content purple">
        <div class="circle-tile-description text-faded">
          Ads
        </div>
      </div>
    </div>
  </div>
</div>
