<div>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex flex-column">
          <form #f="ngForm" (ngSubmit)="create()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" [(ngModel)]="ticketCreateBindingModel.name"
                    class="form-control" required>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Price</label>
                    <input type="number" id="price" name="price" [(ngModel)]="ticketCreateBindingModel.price"
                      class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Quantity</label>
                    <input type="number" id="quantity" name="quantity" [(ngModel)]="ticketCreateBindingModel.quantity"
                      class="form-control" required>
                  </div>
                </div>
              </div>
            <button class="btn btn-primary" [disabled]="f.invalid" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
